body{
  font-family: Arial, sans-serif;
 

}

.game {
  max-width: calc(3*100px);
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.status {
font-size: 20px;
display: flex;
justify-content: space-between;
margin-bottom: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
}

.cell {
  width: 100px;
  height: 100px;
  font-size: 36px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.cell:hover {
  background-color: #f0f0f0;
}

.reset-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}